# Machine Learning Lab-1 - AP21110010923
# Introduction To Numpy:                                                                                                 
1.Write a NumPy program to multiply two given arrays of same size element-by-
element.

In [1]:
import numpy as np

array1 = np.array([1, 2, 3, 4])
array2 = np.array([5, 6, 7, 8])

result_array = np.multiply(array1, array2)

print("Array 1:", array1)
print("Array 2:", array2)
print("Element-wise multiplication result:", result_array)

Array 1: [1 2 3 4]
Array 2: [5 6 7 8]
Element-wise multiplication result: [ 5 12 21 32]

2.Write a NumPy program to find the missing data in a given array.

In [2]:
import numpy as np

array_with_missing_data = np.array([1.0, 2.0, np.nan, 4.0, 5.0, np.nan, 7.0])

missing_data_mask = np.isnan(array_with_missing_data)

print("Original Array:", array_with_missing_data)
print("Missing Data Mask:", missing_data_mask)

Original Array: [ 1.  2. nan  4.  5. nan  7.]
Missing Data Mask: [False False  True False False  True False]

 - Here, "np.isnan()" is used to create a boolean mask (missing_data_mask) indicating the positions of missing data (NaN) in the original array.

3.Write a NumPy program to test whether each element of a 1-D array is also present in
a second array.

In [3]:
import numpy as np

array1 = np.array([1, 2, 3, 4, 5])
array2 = np.array([3, 5, 7, 9])

result = np.isin(array1, array2)

print("Array 1:", array1)
print("Array 2:", array2)
print("Is each element of Array 1 present in Array 2?", result)

Array 1: [1 2 3 4 5]
Array 2: [3 5 7 9]
Is each element of Array 1 present in Array 2? [False False  True False  True]

 - Here, "np.isin()" function is used to create a boolean array (result) indicating whether each element of array1 is present in array2.

4.Write a NumPy program to save a NumPy array to a text file.

In [5]:
import numpy as np

my_array = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
np.savetxt('output_array.txt', my_array, fmt='%d', delimiter=',')

print("Array has been saved to 'output_array.txt'")

Array has been saved to 'output_array.txt'

 - my_array: This is NumPy array that you save to the text file.
 - np.savetxt(): This function is used to save an array to a text file.
 - output_array.txt: This is the file name where the array will be saved with the file name "output_array.txt".
 - fmt='%d: This argument specifies that the data should be formatted as integers.
 - delimiter=',': This specifies that the values should be separated by commas in the output file.

5.Write a NumPy program to Create a 1-D array of 30 evenly spaced elements between
2.5. and 6.5, inclusive.

In [6]:
import numpy as np

my_array = np.linspace(2.5, 6.5, 30)

print("1-D array of 30 evenly spaced elements between 2.5 and 6.5 (inclusive):")
print(my_array)

1-D array of 30 evenly spaced elements between 2.5 and 6.5 (inclusive):
[2.5        2.63793103 2.77586207 2.9137931  3.05172414 3.18965517
 3.32758621 3.46551724 3.60344828 3.74137931 3.87931034 4.01724138
 4.15517241 4.29310345 4.43103448 4.56896552 4.70689655 4.84482759
 4.98275862 5.12068966 5.25862069 5.39655172 5.53448276 5.67241379
 5.81034483 5.94827586 6.0862069  6.22413793 6.36206897 6.5       ]

- Here, "np.linspace(2.5, 6.5, 30)" creates an array with 30 evenly spaced elements between 2.5 and 6.5 (inclusive).

# Introduction to Pandas (Series and Dataframes)

1.Write a Pandas program to convert Series of lists to one Series.

In [7]:
import pandas as pd

series_of_lists = pd.Series([[1, 2, 3], [4, 5], [6, 7, 8]])

result_series = series_of_lists.explode()

print("Original Series of Lists:")
print(series_of_lists)

print("\nConverted Series:")
print(result_series)

Original Series of Lists:
0    [1, 2, 3]
1       [4, 5]
2    [6, 7, 8]
dtype: object

Converted Series:
0    1
0    2
0    3
1    4
1    5
2    6
2    7
2    8
dtype: object

- Here, "explode()" function is used to convert the Series of lists into a single Series. Each element of the original lists is now a separate element in the resulting Series. The index values are repeated as needed to accommodate the exploded elements.

2.Write a Pandas program to create a subset of a given series based on value and
condition.

In [8]:
import pandas as pd

my_series = pd.Series([10, 20, 30, 40, 50])
condition = my_series > 30
subset = my_series[condition]

print("Original Series:")
print(my_series)

print("\nSubset based on condition (values greater than 30):")
print(subset)

Original Series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

Subset based on condition (values greater than 30):
3    40
4    50
dtype: int64

- Here,"(my_series > 30)" condition is used to create a boolean mask. Then, this boolean mask is applied to the original Series using square brackets to create a subset containing only the elements that satisfy the condition.

3.Write a Pandas program to display most frequent value in a given series and replace
everything else as 'Other' in the series.

In [13]:
import pandas as pd

my_series = pd.Series([1, 2, 2, 3, 3, 3, 4, 4, 4, 4])
most_frequent_value = my_series.mode().iloc[0]
my_series = my_series.apply(lambda x: most_frequent_value if x == most_frequent_value else 'Other')

print(my_series)

0    Other
1    Other
2    Other
3    Other
4    Other
5    Other
6        4
7        4
8        4
9        4
dtype: object

- Here, "my_series.mode().iloc[0]" is used to find the most frequent value in the Series. Then, the apply() function is used to replace everything else with 'Other'. The modified Series is printed before and after the replacement

4.Write a Pandas program to find the positions of numbers that are multiples of 5 of a
given series.

In [14]:
import pandas as pd

my_series = pd.Series([1, 5, 10, 15, 20, 25, 30, 35, 40])

positions_of_multiples_of_5 = my_series.index[my_series % 5 == 0]

print("Original Series:")
print(my_series)

print("\nPositions of numbers that are multiples of 5:")
print(positions_of_multiples_of_5)

Original Series:
0     1
1     5
2    10
3    15
4    20
5    25
6    30
7    35
8    40
dtype: int64

Positions of numbers that are multiples of 5:
Index([1, 2, 3, 4, 5, 6, 7, 8], dtype='int64')

- Here, my_series % 5 == 0 creates a boolean mask where each element is True if it is a multiple of 5 and False otherwise. my_series.index[...] is then used to get the positions (indices) of the True values in the mask, which correspond to the positions of numbers that are multiples of 5 in the original Series.

5.Write a Pandas program to calculate the number of characters in each word in a given
series.

In [2]:
import pandas as pd

my_series = pd.Series(['Nikhila', 'Anvitha', 'Anjana', 'Anusetty'])
word_lengths = my_series.str.len()

print("Original Series:")
print(my_series)

print("\nNumber of characters in each word:")
print(word_lengths)

Original Series:
0     Nikhila
1     Anvitha
2      Anjana
3    Anusetty
dtype: object

Number of characters in each word:
0    7
1    7
2    6
3    8
dtype: int64

- Here,my_series.str.len() is used to calculate the length of each word in the Series. The resulting Series (word_lengths) contains the number of characters in each word.

6.Write a Pandas program to convert year-month string to dates adding a specified day
of the month.

In [16]:
import pandas as pd

year_month_strings = pd.Series(['2022-01', '2022-02', '2022-03', '2022-04'])
specified_day = 6

dates_with_specified_day = pd.to_datetime(year_month_strings + '-' + str(specified_day), format='%Y-%m-%d')

result_df = pd.DataFrame({
    'Year-Month String': year_month_strings,
    'Converted Date': dates_with_specified_day
})

print(result_df)

  Year-Month String Converted Date
0           2022-01     2022-01-06
1           2022-02     2022-02-06
2           2022-03     2022-03-06
3           2022-04     2022-04-06

7.Write a Pandas program to create and display a DataFrame from a specified
dictionary data which has the index labels.

In [3]:
import pandas as pd

data = {
    'Name': ['Nikhila', 'Anvitha', 'Anjana', 'Anusetty'],
    'Age': [20, 19, 20, 19],
    'City': ['India', 'Paris', 'Korean', 'California']
}
index_labels = ['Person1', 'Person2', 'Person3', 'Person4']
df = pd.DataFrame(data, index=index_labels)

print(df)

             Name  Age        City
Person1   Nikhila   20       India
Person2   Anvitha   19       Paris
Person3    Anjana   20      Korean
Person4  Anusetty   19  California

- Here,'data' dictionary contains columns ('Name', 'Age', 'City'), and index_labels is a list of specified index labels ('Person1', 'Person2', 'Person3', 'Person4'). The DataFrame df is created using pd.DataFrame(data, index=index_labels).

8.Write a Pandas program to select the rows where the number of attempts in the
examination is greater than 2.

In [4]:
import pandas as pd

data = {
    'Student': ['Nikhila', 'Anvitha', 'Anjana', 'Anusetty'],
    'Attempts': [1, 4, 3, 2]
}
df = pd.DataFrame(data)
selected_rows = df[df['Attempts'] > 2]

print("Original DataFrame:")
print(df)

print("\nSelected rows where the number of attempts is greater than 2:")
print(selected_rows)

Original DataFrame:
    Student  Attempts
0   Nikhila         1
1   Anvitha         4
2    Anjana         3
3  Anusetty         2

Selected rows where the number of attempts is greater than 2:
   Student  Attempts
1  Anvitha         4
2   Anjana         3

-Here,"df['Attempts'] > 2"condition creates a boolean mask, and then this mask is used to select the rows where the number of attempts is greater than 2. The resulting DataFrame selected_rows contains only the rows meeting this condition.

9.Write a Pandas program to append a new row k to data frame with given values for
each column. Now delete the new row and return the original DataFrame.

In [5]:
import pandas as pd

data = {'Name': ['Nikhila', 'Anvitha', 'Anjana', 'Anusetty']}
df = pd.DataFrame(data)

new_row_values = {'Name': 'Gowri'}
df = pd.concat([df, pd.DataFrame([new_row_values])], ignore_index=True)

print("DataFrame with New Row:")
print(df)

df = df.drop(df[df['Name'] == 'Gowri'].index)

print("\nOriginal DataFrame after Deleting 'Gowri':")
print(df)

DataFrame with New Row:
       Name
0   Nikhila
1   Anvitha
2    Anjana
3  Anusetty
4     Gowri

Original DataFrame after Deleting 'Gowri':
       Name
0   Nikhila
1   Anvitha
2    Anjana
3  Anusetty

- Here, ' pd.concat' to concatenate the original DataFrame with a new DataFrame containing the 'Gowri' row. The ignore_index=True argument is used to reindex the DataFrame. The subsequent steps for dropping the row with the name 'Gowri' remain the same.

10.Write a Pandas program to sort the DataFrame first by &#39;name&#39; in descending order,
then by 'score' in ascending order.

In [6]:
import pandas as pd

data = {
    'Name': ['Nikhila', 'Anvitha', 'Anjana', 'Anusetty'],
    'Score': [85, 90, 75, 80]
}
df = pd.DataFrame(data)
df_sorted = df.sort_values(by=['Name', 'Score'], ascending=[False, True])

print("DataFrame sorted by 'Name' in descending order, then by 'Score' in ascending order:")
print(df_sorted)

DataFrame sorted by 'Name' in descending order, then by 'Score' in ascending order:
       Name  Score
0   Nikhila     85
1   Anvitha     90
3  Anusetty     80
2    Anjana     75

11. Write a Pandas program to replace the 'qualify' column contains the values 'yes' and
'no' with True and False.

In [7]:
import pandas as pd

data = {
    'Name': ['Nikhila', 'Anvitha', 'Anjana', 'Anusetty'],
    'Qualify': ['yes', 'no', 'yes', 'no']
}
df = pd.DataFrame(data)
df['Qualify'] = df['Qualify'].replace({'yes': True, 'no': False})

print("DataFrame after replacing 'qualify' values:")
print(df)

DataFrame after replacing 'qualify' values:
       Name  Qualify
0   Nikhila     True
1   Anvitha    False
2    Anjana     True
3  Anusetty    False

12.Write a Pandas program to remove infinite values from a given DataFrame.

In [8]:
import pandas as pd
import numpy as np

data = {
    'Name': ['Nikhila', 'Anvitha', 'Anjana', 'Anusetty'],
    'Score': [90, np.inf, 75, -np.inf]
}
df = pd.DataFrame(data)
df.replace([np.inf, -np.inf], np.nan, inplace=True)
df_cleaned = df.dropna()

print("Original DataFrame:")
print(df)

print("\nDataFrame after removing infinite values:")
print(df_cleaned)

Original DataFrame:
       Name  Score
0   Nikhila   90.0
1   Anvitha    NaN
2    Anjana   75.0
3  Anusetty    NaN

DataFrame after removing infinite values:
      Name  Score
0  Nikhila   90.0
2   Anjana   75.0

- Here, the replace method is used to replace infinite values (np.inf and -np.inf) with NaN, and then the dropna method is used to remove rows containing NaN values, resulting in a DataFrame without infinite values.